@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);

$font-headings: 'Raleway', sans-serif;
$font-text:  'Raleway', sans-serif;
$font-h1: 1.3vw;
$font-h2: 3vw;
$font-h3: 1.5rem;
$text: 1.1rem;